<body>
  <div class="card container mt-5 mb-5" style="height: 85%; width: 35%; border-radius: 25% 0% 25% 0%;">
    <div class="card-body container text-center">
      <img [src]="'assets/img/corona.png'">

      <h2 class="card-subtitle mt-2 h2">¡Welcome to back!</h2>

      <form class="form-group mt-5" [formGroup]="formularioLogin" (ngSubmit)="enviarForm()">

        <input class="form-control mt-5" type="text" placeholder="E-mail" formControlName="email"
          style="border-top: 0; border-left: 0; border-right: 0;">
        <input class="form-control mt-5" type="password" placeholder="Contraseña" formControlName="password"
          style="border-top: 0; border-left: 0; border-right: 0;">

        <button class="btn btn-primary mt-3 border-radius">Iniciar sesión</button>
      </form>



    </div>
  </div>
</body>
